<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./select2.css">
</head>
<body>
<div id="app">
    <div class="page-container public-header-container">
        <div class="public-header">
            <div class="search-bar">
                <div class="search-content">
                    <input type="text" class="ipt-search" value="{{iptContent}}" v-model="iptContent">
                    <div class="search-list" v-if="iptContent !== ''">
                        <input  @click="selectItem($event,$index)" v-for="searchItem in searchList | filterBy iptContent in 'name'" type="text" class="search-item" readonly value="{{searchItem.name}}">
                    </div>
                </div><input type="button" class="btn-search" value="搜索">
            </div>
            <span>{{iptContent}}</span>
        </div>
    </div>

    <div class="page-container page-body center1"></div>

    <div class="popup-mask overlay1" v-if="isPopupBox">
        <div class="popup-box center1 br1">
            <div class="popup-header br1 box-padding1"><span class="title fl">联系人</span><span class="close fr cursor-pointer" @click="closePopup">&times;</span></div>
            <div class="popup-body br1">
                <span>名字:</span><span>{{selectedItem.name}}</span>
                <div class="popup-footer close-bottom1 br1 box-padding1"></div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el:'#app',
        data:{
            iptContent:'',
            selectedItem:{},
            searchList: [
                { name: 'Bruce' },
                { name: 'Chuck' },
                { name: 'Marry' },
                { name: 'Rose' },
                { name: 'Tom' },
                { name: 'Jackie' }
            ],
            isPopupBox:false
        },
        methods:{
            closePopup: function () {
              this.isPopupBox = false;
            },
            selectItem: function (event,index) {
//              console.log(index)
                this.selectedItem = this.searchList[index]
                this.isPopupBox = true;
            }
        }
    });
</script>

</body>
</html>