doctype html
html(lang="en")
    head
        - var name = 'Cancel'
        title= name
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css" href="./cancel.css")
    body
        .bg hover me
        .container
            - for(var i=0; i<500; i++)
            .box