/*Created by zhanglongde on 2016/9/2.*/
* {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  border: none;
}
button {
  outline: none;
  border: none;
}
a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
a {
  outline: none;
}
p {
  margin: 0;
}
span {
  line-height: 1;
}
