/*reset*/
*{  margin:0;padding:0;  }

/*通用样式库*/
body{font-family: "Microsoft Yahei","微软雅黑", Helvetica, Arial, sans-serif;
    font-size:14px;line-height:1.42857143;
    color: #333;  background-color: #fff;  }

input{outline:none;}
input[type="number"]{-moz-appearance: textfield;}

button{color:#fff;outline:none !important;}

/*布局样式*/
body{
    display:flex;
    flex-flow: column wrap;
    /*justify-content: flex-start;*/
}
header{
    order:1;
    min-height:220px;width:100%;
    background-color: hsl(0,50%,50%);}

section{order:2;  flex:1;
    background-color: hsl(0,0%,100%);
    display: flex;
}
article{flex:1;order:1;
    background-color: hsl(120,40%,40%);}
nav{width:220px;order:2;
    background-color: hsl(180,30%,60%);}
aside{width:220px;order:3;
    background-color: hsl(270,30%,60%);}

footer{order:3;min-height:60px;width:100%;
    background-color: hsl(30,50%,50%);}


