@import "./reset.css";
@import "./animation.css";
@import "./skin.css";

.slider-wrapper{width:508px;/*500px的content+4px*2的border*/
    overflow: hidden;
    margin:50px auto;/*整张幻灯片居中*/
}

ul.s-thumbs li{float:left;}
/*等宽等间距两端对齐布局：其实如果不用浮动布局，可以参考bootstrap网格布局中row的两端对齐做法*/
ul.s-thumbs li{margin:0 11px 10px 0;}/*6*11+1=67px*/
ul.s-thumbs li:last-of-type{margin:0 0 10px 1px;}/*往右边框对齐，忽略一个像素。*/
ul.s-thumbs a{position:relative;  display:block;  width: 55px;  height: 55px;}

ul.s-slides{
    clear:both;/*清除缩略图的左浮动*/
    overflow: hidden;

    width:500px;height:350px;
    position:relative; /*如果不设置宽高，必须有（正常流的）子元素撑开*/
}
ul.s-slides li{position: absolute;  z-index: 50;/*z-index一样，层叠上下文，后来居上*/  }


/*图片描述*/
ul.s-thumbs li a span{display:none;}
ul.s-thumbs li a span:before{content:'';position:absolute;top:-10px;left:48px;
    height:0;width:0;border:5px solid;
border-color:transparent transparent #bcbcbc transparent;}
ul.s-thumbs li a:hover span{position: absolute;left:-21px;top:59px;z-index:70;
display:block;width:100px;height:25px;border-radius:3px;
    background-color: #bcbcbc;text-align: center;
transition:all .25s ease;}
ul.s-thumbs li:first-child a:hover span{left:0;}
ul.s-thumbs li:last-child a:hover span{left:auto;right:0;}



