
.accordionMenu{
    background-color: #fff;
    color: #424242;
    width: 500px;
    margin:0 auto;
    padding:10px;
}

.accordionMenu h2{
    position:relative;
}

.accordionMenu h2:before{
    content:'';
    position:absolute;top:40%;right:1%;
    width:0;  height: 0;
    border:5px solid;
    border-color:#fff transparent transparent;
}

.accordionMenu h2 a{
    background-color: #8f8f8f;
    background:linear-gradient(top,#cecece, #8f8f8f);
    color:#424242;
    border-radius:5px;
    display:block;
    text-decoration: none;
    margin:0;padding:10px;
}

.accordionMenu :target h2 a,
.accordionMenu h2 a:focus,
.accordionMenu h2 a:hover,
.accordionMenu h2 a:active{
    background-color: #28d;
    background:linear-gradient(top,#6bb2ff, #2288dd);
    color:#fff;
}

.accordionMenu p{
    margin:0;
    padding:0 10px;
    overflow:hidden;

    height:0;
    transition:  height 0.5s ease-in;
}
.accordionMenu :target p{
    height:100px;
    overflow: hidden;
}
.accordionMenu :target h2:before{
    border-color:transparent transparent transparent #fff;
}

