/*Created by zhanglongde on 2016/8/30.*/
body {
  background-color: #dcdcdc;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.container {
  font-size: 30px;
  overflow: auto;
  width: 1000px;
  height: 100vh;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background: #6a8372;
  background: linear-gradient(-135deg, transparent 30px, #6a8372 0);
  background: linear-gradient(to bottom left, transparent 30px, #4793b2 0) no-repeat 100% 0px 42px, linear-gradient(-135deg, transparent 30px, #6a8372 0);
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.3);
}
h3 {
  margin: 30px 0;
  color: #d0104c;
}
.show-box {
  width: 600px;
  height: 90px;
  margin: 20px auto;
  padding: 20px;
  text-align: justify;
  border-radius: 5px;
}
.show-box:nth-of-type(1) {
  color: #db4d6d;
}
.show-box:nth-of-type(2) {
  color: #9e7a7a;
}
.show-box:nth-of-type(3) {
  color: #fedfe1;
}
.box-bt {
  position: relative;
  width: 700px;
  height: 450px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.25) border-box;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
.box-bt::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -30px;
  z-index: -1;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}
