.wrap {
  text-align: center;
  font-size: 349.2px;
  /*约为高度的0.873*/
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  background-color: #ccc;
}
.wrap .ele {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #333;
}
