/*@import "./reset1.css"*/
/*@import "./common1.css"*/
/*@import "./pageCommon1.css"*/

/*页面样式*/
/*页头样式*/
.public-header-container{
    position:relative;

    background-color: #eee;
}
.public-header{
    position:relative;

    /*width:90%;*/
    height:100px;
    margin:auto;
}

/*页面主体样式*/
.page-body{
    position:absolute;
    top:120px;bottom:0;

    background-color: #85a;
}

/*搜索条样式*/
.search-bar{
    position:absolute;
    right:50px;top:20px;
}
.search-content,.search-content+button{
    display: inline-block;
}
.search-content{position:relative;}
.search-list{position: absolute;top:20px;}
.search-item{display:block;}
.search-item:hover{
    background-color: #aaa;
}
.ipt-search .search-item{
    height:50px;width:300px;
}

/*弹出层样式*/
.popup-mask{
    position:absolute;

    background-color: rgba(0,0,0,.4);
}
.popup-box{
    position:absolute;
    width:500px;height:500px;

    color:#333;
    background-color: #fff;
}
.popup-box .popup-header{
    height:40px;/*宽度自适应，不需要设置*/
    /*width:500px;*/
    overflow: hidden; /*BFC，计算子元素高度，达到清除浮动的作用*/

    color:#fff;
    background-color: #58a;
    border-bottom:1px solid #bdbdbd;
}
.popup-box .popup-body{
    position:absolute;
    top:50px;bottom:0;/*上半部分高度固定，下半部分高度自适应*/
    /*方案1：绝对布局拉伸性，达到宽度自适应*/
    left:0;right:0;
    /*方案2：流式宽度自适应。由于高度自适应，所以需要一个百分比宽度达到宽度自适应*/
    /*width:100%;*/

    text-align: center;
}
.popup-box .popup-header .close,.popup-box .popup-header .title{
    line-height:40px;/*行内元素垂直居中,行盒垂直方向总是line-height居中  line-height=容器高度50px-上padding-下padding*/
}
.popup-box .popup-header .title{
    padding-left:20px;
}

.popup-box .popup-footer{
    position:absolute;
    height:50px;

    /*background-color: #58a;*/
    border-top:1px dashed #bdbdbd;
}

.slideTop{
    position:absolute;
    top:0;left:0;right:0;
    z-index:9999;
    /*display:none;*/
    visibility:hidden;
    height:0;opacity:0;

    color:#fff;
    background-color: #58a;

    transition:all 5s ease;
    -webkit-transition:all 5s ease;
}
.slideTop.fadeIn{
    /*display:block;*/
    visibility:visible;
    height:50px;  opacity:0.7;
}
.slideTop-l{
    line-height:50px;
}