<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="./reset1.css">
    <link rel="stylesheet" href="./common1.css">
    <link rel="stylesheet" href="./pageCommon1.css">
    <link rel="stylesheet" href="./select2.css">
    <style>
        .ofy{
            overflow-y:hidden;
        }
    </style>
</head>
<body :class="{'ofy':isPopupBox}">
<div id="app">
    <div class="page-container public-header-container page-padding1">
        <div class="public-header">
            <div class="search-bar">
                <div class="search-content">
                    <input type="text" class="ipt-search" value="{{iptContent}}" v-model="iptContent">
                    <div class="search-list" v-if="iptContent !== ''">
                        <input  @click="selectItem($event,$index)" v-for="searchItem in searchList | filterBy iptContent in 'name'" type="text" class="search-item" readonly value="{{searchItem.name}}">
                    </div>
                </div><input type="button" class="btn-search" value="搜索">
            </div>
            <span>{{iptContent}}</span>
        </div>
    </div>

    <div class="page-container center1 page-body page-padding1">
        <div class="page-body-content">
            <ul>
                <li v-for="searchItem in searchList">
                    <input type="checkbox"><label for="">{{searchItem.name}}</label>
                </li>
            </ul>
            <button @click="slideTop">slideTop</button>
        </div>
    </div>

    <div class="popup-mask overlay1" v-if="isPopupBox">
        <div class="popup-box center1 br1">
            <div class="popup-header br1 box-padding1"><span class="title fl">联系人</span><span class="close fr cursor-pointer" @click="closePopup">&times;</span></div>
            <div class="popup-body br1 box-padding1">
                <span>名字:</span><span>{{selectedItem.name}}</span>
                <div class="popup-footer close-bottom1 br1 box-padding1"></div>
            </div>
        </div>
    </div>

    <div :class="['slideTop',{'fadeIn':isSlideTop}]" v-if="isSlideTop">
        <div class="slideTop-l cursor-pointer" @click="closeSlideTop"><- 返回</div>
        <div class="slideTop-body"></div>
        <div class="slideTop-r"></div>
    </div>

</div>

<script>
    new Vue({
        el:'body',
        data:{
            iptContent:'',
            selectedItem:{},
            searchList: [
                { name: 'Bruce' },
                { name: 'Chuck' },
                { name: 'Marry' },
                { name: 'Rose' },
                { name: 'Tom' },
                { name: 'Jackie' }
            ],
            isPopupBox:false,
            isSlideTop:false
        },
        methods:{
            closePopup: function () {
              this.isPopupBox = false;
            },
            selectItem: function (event,index) {
//              console.log(index)
                this.selectedItem = this.searchList[index]
                this.isPopupBox = true;
            },
            slideTop: function() {
                this.isSlideTop = !this.isSlideTop;
            },
            closeSlideTop: function() {
                this.isSlideTop = false;
            }
        }
    });
</script>

</body>
</html>