@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
    font-family: 'Open Sans', sans-serif;
}
details {
    margin: 1rem;
}
summary {
    font-weight: bold;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}
summary::-webkit-details-marker {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
    color: transparent;
}