body {
  line-height: 1.4;
}
p {
  font-size: 1.25rem;
  margin-bottom: 1.75rem;
}
h1 {
  font-size: 3em;
  margin-bottom: 3.5rem;
}
h2 {
  font-size: 2em;
  margin-bottom: 1.75rem;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 1.75rem;
}
.page-container {
  padding: 3.5rem 2rem;
}
